# Array in Python 
- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered and unindexed. No duplicate members.
- Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

# List - Mutable Dynamic Arrays

In [113]:
lst=[1,2,3,4,5,'a','b','c',[1,'apple','python'],{'a':1,'b':2},(1,2,3),{3,6}]

In [14]:
for i in range(len(lst)):
    print('The '+ str(i+1) +'th item in lst is: ',lst[i] )

The 1th item in lst is:  1
The 2th item in lst is:  2
The 3th item in lst is:  3
The 4th item in lst is:  4
The 5th item in lst is:  5
The 6th item in lst is:  a
The 7th item in lst is:  b
The 8th item in lst is:  c
The 9th item in lst is:  [1, 'apple', 'python']
The 10th item in lst is:  {'a': 1, 'b': 2}
The 11th item in lst is:  (1, 2, 3)
The 12th item in lst is:  {3, 6}

## Slicing and Index in List

In [7]:
# the 3rd to 6th items in lst  include left, exclude right, 4 items in total
lst[2:6]

[3, 4, 5, 'a']

In [11]:
# the 9th item searched from right to left to the 6th item searched from right to left. include left, exclude right, 3 items in total.
lst[-9:-6]

[4, 5, 'a']

In [12]:
# search the first to the 4th item in the list. 4 items in total
lst[:4]

[1, 2, 3, 4]

In [17]:
# search the 8th item to the last item in the list. 4 items in total
lst[8:]

[[1, 'apple', 'python'], {'a': 1, 'b': 2}, (1, 2, 3), {3, 6}]

## Common functions in Python
- append
- copy
- count
- extend
- index
- insert
- pop
- reverse
- sort
- remove
- clear
- len()

In [27]:
test=[1,2,'a','b',[1,2,3],['a','b','c']]
test.append('append_item')
test

[1, 2, 'a', 'b', [1, 2, 3], ['a', 'b', 'c'], 'append_item']

In [34]:
#make a shallow copy
t=test.copy()
print(t)

[1, 2, 'a', 'b', ['test1', 'test2', 'test3'], ['a', 'b', 'c'], 'append_item']

In [39]:
#count, return the number of occurrences of value
test=[1,1,12,2,2,2,3,'a','a','b']
for i in set(test):
    print(i,': ',test.count(i))

1 :  2
2 :  3
3 :  1
b :  1
12 :  1
a :  2

In [41]:
# index return the first index of value
test.index(1)

0

In [43]:
#extend: extend list by appending elements from the iterable
t=[1,2,3,4,5]
t1=[6,7,8,9,10]
t.extend(t1)
print(t)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [46]:
t=[1,2,3,4,5]
t.extend(i for i in range(6,10))
print(t)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
# insert: insert object before the index
# e.g. insert string object "insert" before the 4th index
t=[1,2,3,4,5]
t.insert(4,'insert')
t

[1, 2, 3, 4, 'insert', 5]

In [53]:
#pop: Remove and return item at index 
# index=-1 by defaut
t=[1,2,3,4,5]
print(t.pop())
print(t)

5
[1, 2, 3, 4]

In [55]:
# reverse: reverse item in place
t=[1,2,3,4]
t.reverse()
t

[4, 3, 2, 1]

In [56]:
# sort: stable sort in place, ascending by defaut
t=[1,4,2,5,3,6,19]
t.sort()
t

[1, 2, 3, 4, 5, 6, 19]

In [58]:
t=[1,4,2,5,3,6,19]
t.sort(reverse=True)
t

[19, 6, 5, 4, 3, 2, 1]

In [59]:
# remove, remove the first occurance of value
t=[1,2,5,4,5,6]
t.remove(5)
t

[1, 2, 4, 5, 6]

In [61]:
t=[1,2,3,4,5]
print(t)
t.clear()
print(t)

[1, 2, 3, 4, 5]
[]

In [68]:
# len(), length of a list
len(test)

10

# Tuple - Immutable Array
index and slicing of tuple is similar to List

If we want to change the tuple value, we need to convert it into a list, change the value, then convert the list back into a tuple.

Common function of tuple is count and index

In [63]:
tuple1=(1,2,3,4,5,'a','b','c')
tuple1

(1, 2, 3, 4, 5, 'a', 'b', 'c')

In [66]:
tuple1[1:4]

(2, 3, 4)

# Set - Immutable unordered and unindexed collection

- No duplicate item in a Set
- Set doesn't offer slicing and indexing operation

In [73]:
set={1,2,3,'c','d','e',1,1}
set

{1, 2, 3, 'c', 'd', 'e'}

## Common function in set
- add
- union
- difference
- intersection
- issuperset
- issubset

In [74]:
set1={1,2,3,4,5,6,7,8,9,10}
set2={6,7,8,9,10,11,12,13}

In [76]:
print(set1.union(set2))
print(set1|set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [79]:
print(set1.difference(set2))
print(set2.difference(set1))

{1, 2, 3, 4, 5}
{11, 12, 13}

In [80]:
print(set1.intersection(set2))
print(set1 & set2)

{6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}

In [83]:
set3={1,2,3}
print(set3.issuperset(set1))
print(set1.issuperset(set3))
print(set3.issubset(set1))

False
True
True

# Dict: Mutable. unordered, indexed collection

In [96]:
dict1={'e1':'apple','e2':'car','e3':'book'}
dict2= dict(e1='apple',e2='car',e3='book')
print(dict1)
print(dict2)

{'e1': 'apple', 'e2': 'car', 'e3': 'book'}
{'e1': 'apple', 'e2': 'car', 'e3': 'book'}

## Common functions of dict
- items
- values
- keys
- get
- pop

In [90]:
for i in dict1.items():
    print(i)

('e1', 'apple')
('e2', 'car')
('e3', 'book')

In [91]:
dict2.values()

dict_values(['apple', 'car', 'book'])

In [92]:
dict1.keys()

dict_keys(['e1', 'e2', 'e3'])

In [94]:
# get the value of given key
dict2.get('e2')

'car'

In [97]:
print(dict2.pop('e1'))
print(dict2)

apple
{'e2': 'car', 'e3': 'book'}